body {
    margin: 0em;
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 157, 245);
    }
  
  

/* Estilo para agregar margen superior al contenido para evitar que quede detrás de la barra de navegación */
    #div-contenido {
      margin-top: 60px; /* Ajusta la altura según la altura de tu barra de navegación */
	  margin-bottom: 40px;

    }
.custom-button {
      border-radius: 30px; /* Ajusta el valor para controlar el radio de las esquinas */
     
  }
  
.boton {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff; /* Color de fondo */
        color: #fff; /* Color del texto */
        border: none;
        border-radius: 5px; /* Bordes redondeados */
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        margin-bottom: 10px;
    }

    
/* estilo del popup*/
.divPopup {
    display: none; /* Oculto por defecto  */
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: black; 
    opacity: 1;
    margin: 0em;
  }
  
.close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.close-button img {
    width: 35px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 35px;
}

  /*fin estilo popup*/
  
  .card-img-top {
  width: 64px; /*  ancho según  necesidades */
  height: 64px; /*  altura según necesidades */
  
}

.custom-card {
  
  background-color: #FF5733; /* Cambia el color de fondo  */

}


.custom-card .card-title,
.custom-card .card-text {
  color: #ffffff; /* Cambia el color del texto dentro del card */
}

/* Ajustes de estilo para el card */
    .card-body-notificacion {
      cursor: pointer; /* Cambia el cursor al hacer clic */
    }

    /* Ajustes para que el dropdown ocupe todo el ancho del card */
    .dropdown-menu {
      width: 95%;
    }
	
	.card-notificacion {
    height: 54px; /* Cambia esta altura según tus necesidades */
    background-color: rgb(229, 241, 119); /* Cambia este color según tus necesidades */
    color: red;
}

.clickeable {
  cursor: pointer; /* Cambia el cursor  */
  color: #007bff !important; /* Cambia el color del texto */
   text-decoration: underline; /* Agrega un subrayado para indicar que es clickeable */
}

/* Estilos personalizados */
.card-customServicios {
  background-color: #d3e9c5; /* Color de fondo personalizado */
  color: #333; /* Color de texto personalizado */
}

.card-customServicios .card-title {
  color: #007bff; /* Color del título personalizado */
}
