body {
    margin: 0em;
    padding: 0em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfe2daf6;
    }
  
  

/* Estilo para agregar margen superior al contenido para evitar que quede detrás de la barra de navegación */
    #div-contenido {
      margin-top: 140px; 
	  margin-bottom: 40px;

    }
    #div-contenido2 {
        margin-top: 150px;
        margin-bottom: 40px;
  
      }
 
	
	/* estilo del popup*/

    .divPopup {
        display: none;
        position: fixed; 
        z-index: 1; 
        padding-top: 100px; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto; 
        background-color: #dfe2daf6; /* Cambiado a opacidad completa */
        margin: 0;
    }
    
 
.p-margen{
margin-bottom: 2px;
}

 .compras-custom-card  img {
        max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
        max-height: 100%; /* Establece la altura máxima de la imagen al 100% del contenedor */
    }
.compras-custom-card {
        
		  background-color: #b1d1f5;
    }
/* Puedes añadir esto en tu archivo CSS */
.product-image {
    width: 30px; /* Ajusta el ancho  necesidades */
    height: 30px; /* Ajusta la altura  necesidades */
    object-fit: cover; /* Esto asegura que la imagen se ajuste sin distorsionarse */
}
